/* ------------about-us start------------ */
.contact-us a{
    text-decoration: none;
  }
  .contact-landing{
    padding-top: 130px;
  }
  .contact-us .get-in a{
    color: white;
    transition: 0.3s ease;
  }
  .contact-us .get-in a:hover{
    opacity: 0.7;
  }
  .contact-us .contact-contents{
    margin-top: 50px;
  }
  .contact-us form{
    background-color: #404040;
    padding: 40px 30px;
    border-radius: 10px;
  }
  .contact-us form input, .contact-us form textarea{
    background-color: #6B6372;
    border: 0;
    padding: 10px;
    color: #DCDCDC;
    border-radius: 6px;
  }
  .contact-us form input::placeholder, .contact-us form textarea::placeholder{
    color: #DCDCDC;
  }
  .contact-us form button{
    width: 100%;
    background-color: #CE0F0F;
    padding: 15px;
    color: white;
    transition: 0.3s ease;
  }
  .contact-us form button:hover{
    opacity: 0.7;
    color: white;
  }
  @media(max-width: 991px){
    .contact-landing{
      padding-top: 170px;
    }
    .contact-us{
      text-align: center;
      padding: 10px;
    }
    
  }