.our-services{
    margin-top: 50px;
}
.our-services .service-cards{
    margin-top: 10px!important;
}
.our-services a{
    text-decoration: none;
}
.service-cards{
    margin-top: 50px;
}
.service-cards .card{
    background-color: #404040;
    transition: 0.3s ease;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%!important;
    margin: 0 auto;
    display: block;
}
.service-cards .card:hover{
    background-color: #9747FF;
}
.service-cards .card:hover i{
    font-size: 35px;
    font-weight: 900;
    margin-right: 0 auto;
    position:absolute;
    bottom:0;
    right:0;
}
.service-cards .card h5{
    transition: 0.3s ease;
}

.service-cards .card img{
    width: 100px;
    height: auto;
}
.card-img{
    position: relative;
}
.service-cards .card i{
    color: white;
    font-size: 30px;
    margin-right: 0 auto;
    position:absolute;
    bottom:15%;
    right:0;
    transition: 0.3s ease;
}
.our-services.typewriter{
    animation: cursor 1s step-start infinite, 
      text 5s steps(18) alternate infinite;
  }
  @keyframes cursor {
      0%, 100% { 
      border-color: #370435; 
    }
  }
  
  @keyframes text {
      0% { 
      width: 0; 
    }
      100% { 
      width: 10.5ch; 
    }
  }
  @media(max-width: 991px){
    .our-services{
        padding: 10px;
        margin: 0 auto;
    }
    .service-cards .card{
        margin: 0 auto;
        display: block;
    }
   
  }

/* -----------------service pages----------------- */
.about-service{
    margin-top: 50px;
}
.more-details{
margin-top: 50px;
}
.contents{
    margin-top: 30px;
    margin-bottom: 30px;
}
.content-bg{
    padding: 15px;
    background-color: #6B6372;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.content-bg p{
    margin-bottom: 0px!important;
}
.about-service ul {
    list-style: disc;
    color: #9747FF;
  }
  .about-service ul li::before {
    
    color: #9747FF;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .about-service .second{
    font-weight: normal;
  }