.our-services{
    margin-top: 50px;
}
.our-services .service-cards{
    margin-top: 10px!important;
}
.our-services a{
    text-decoration: none;
}
.service-cards{
    margin-top: 50px;
}
.service-cards .card{
    background-color: #404040;
    transition: 0.3s ease;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%!important;
    margin: 0 auto;
    display: block;
}
.service-cards .card:hover{
    background-color: #9747FF;
}
.service-cards .card:hover i{
    font-size: 35px;
    font-weight: 900;
    margin-right: 0 auto;
    position:absolute;
    bottom:0;
    right:0;
}
.service-cards .card h5{
    transition: 0.3s ease;
}

.service-cards .card img{
    width: 100px;
    height: auto;
}
.card-img{
    position: relative;
}
.service-cards .card i{
    color: white;
    font-size: 30px;
    margin-right: 0 auto;
    position:absolute;
    bottom:15%;
    right:0;
    transition: 0.3s ease;
}

.typewriter-2 {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #771193;
	
    font-size: 60px;
    color: white;
    margin: 0 auto;
    animation: cursor-1 1s step-start infinite, 
    text-1 5s steps(18) alternate infinite;
}
@keyframes cursor-1 {
	0%, 100% { 
    border-color: #370435; 
  }
}

@keyframes text-1 {
	0% { 
    width: 0; 
  }
	100% { 
    width: 10.5ch; 
  }
}

/* -----------------service pages----------------- */
.about-service{
    margin-top: 50px;
}

.more-details{
margin-top: 50px;
}
.contents{
    margin-top: 30px;
    margin-bottom: 30px;
}
.content-bg{
    padding: 15px;
    background-color: #6B6372;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.content-bg p{
    margin-bottom: 0px!important;
}
.about-service ul {
    list-style: disc;
    color: #9747FF;
  }
  .about-service ul li::before {
    
    color: #9747FF;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .about-service .second{
    font-weight: normal;
  }
  @media(max-width: 991px){
    .about-service{
        margin-top: 20px;
    } 
    .more-details{
        margin-top: 20px;
        }
        .more-details h5{
            text-align: center;
        }
        .ios .gray-box h5{
            text-align: center;
        }
        .ios .gray-box, .Website .gray-box{
            padding: 40px 20px;
        }
        
}


/* -----------------text-animation ios page start----------------- */
   
.typewriter-ios {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #771193;
	
    font-size: 60px;
    color: white;
    margin: 0 auto;
    animation: cursor-ios 1s step-start infinite, 
    text-ios 5s steps(18) alternate infinite;
}
@keyframes cursor-ios {
	0%, 100% { 
    border-color: #370435; 
  }
}

@keyframes text-ios {
	0% { 
    width: 0; 
  }
	100% { 
    width: 12.5ch; 
  }
}

/* -----------------text-animation ios page end----------------- */

/* -----------------text-animation web page start----------------- */
   
.typewriter-web {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #771193;
	
    font-size: 60px;
    color: white;
    margin: 0 auto;
    animation: cursor-web 1s step-start infinite, 
    text-web 5s steps(18) alternate infinite;
}
@keyframes cursor-web {
	0%, 100% { 
    border-color: #370435; 
  }
}

@keyframes text-web {
	0% { 
    width: 0; 
  }
	100% { 
    width: 16.5ch; 
  }
}

/* -----------------text-animation ios page end----------------- */

/* -----------------text-animation web page start----------------- */
   
.typewriter-dig {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #771193;
	
    font-size: 60px;
    color: white;
    margin: 0 auto;
    animation: cursor-dig 1s step-start infinite, 
    text-dig 5s steps(18) alternate infinite;
}
@keyframes cursor-dig {
	0%, 100% { 
    border-color: #370435; 
  }
}

@keyframes text-dig {
	0% { 
    width: 0; 
  }
	100% { 
    width: 12.5ch; 
  }
}

/* -----------------text-animation ios page end----------------- */

/* -----------------text-animation web page start----------------- */
   
.typewriter-soft {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #771193;
	
    font-size: 60px;
    color: white;
    margin: 0 auto;
    animation: cursor-soft 1s step-start infinite, 
    text-soft 5s steps(18) alternate infinite;
}
@keyframes cursor-soft {
	0%, 100% { 
    border-color: #370435; 
  }
}

@keyframes text-soft {
	0% { 
    width: 0; 
  }
	100% { 
    width: 16.9ch; 
  }
}

/* -----------------text-animation ios page end----------------- */